{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'paper.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Scoreboard - Seedbox CRI</title>
    </head>
    <body>
        <div class="paper container">
            <center>
                <h1>Scoreboard - Seedbox CRI</h1>
                {% if request.user.is_authenticated %}
                    <a href="/upload/" class="paper-btn btn-block">Upload your logs!</a>
                    <br/>
                {% endif %}
            </center>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>login</th>
                        <th>score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{ score.0.username }}
                                {% if forloop.counter <= 3 %}<i class="material-icons">star</i>{% endif %}
                                {% if forloop.counter <= 2 %}<i class="material-icons">star</i>{% endif %}
                                {% if forloop.counter <= 1 %}<i class="material-icons">star</i>{% endif %}
                                {% if forloop.counter == 42 %}<i class="material-icons">favorite</i>{% endif %}
                            </td>
                            <td>{{ score.1 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            <center>
                <p>This website is not affiliated with EPITA nor the CRI.</p>
                <p>Licensed to Marc 'risson' Schmitt under the MIT License.</p>
                <p>You too can contribute! Click <a href="https://gitlab.cri.epita.fr/marc.schmitt/seedbox-cri-scoreboard">here :D</a></p>
            </center>
        </footer>
    </body>
</html>
