{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'paper.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Scoreboard - Seedbox CRI</title>
    </head>
    <body>
        <div class="paper container">
            <center>
                <h1>Scoreboard - Seedbox CRI</h1>
                <a href="/scoreboard/" class="paper-btn btn-block">Scoreboard</a>
                <br/>
            </center>

            <p>
                Export your docker logs with
                <code>docker logs --tail=all seedbox-cri > seedbox-logs.txt</code>
                and upload the result here!
            </p>

            <p>
                Files larger than 25M are not allowed. However, you don't need
                to resubmit old log files, so just submit the last logs you
                gathered from your container!
            </p>

            <p>
                Only <kbd>text/plain</kbd> files are allowed.
            </p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Upload!</button>
            </form>
        </div>
        <footer>
            <center>
                <p>This website is not affiliated with EPITA nor the CRI.</p>
                <p>Licensed to Marc 'risson' Schmitt under the MIT License.</p>
                <p>You too can contribute! Click <a href="https://gitlab.cri.epita.fr/marc.schmitt/seedbox-cri-scoreboard">here :D</a></p>
            </center>
        </footer>
    </body>
</html>
