{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'paper.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Scoreboard - Seedbox CRI</title>
    </head>
    <body>
        <div class="paper container">
            <center>
                <h1>Scoreboard - Seedbox CRI</h1>
            </center>
            <center>
                <a href="scoreboard/" class="paper-btn btn-block">Scoreboard</a>
                {% if not request.user.is_authenticated %}
                    <br/>
                    <a href="{% url "social:begin" backend="epita" %}?next=/" class="paper-btn btn-block">Epita connect</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <br/>
                    <a href="upload/" class="paper-btn btn-block">Upload your logs!</a>
                {% endif %}
            </center>
        </div>
        <footer>
            <center>
                <p>This website is not affiliated with EPITA nor the CRI.</p>
                <p>Licensed to Marc 'risson' Schmitt under the MIT License.</p>
                <p>You too can contribute! Click <a href="https://gitlab.cri.epita.fr/marc.schmitt/seedbox-cri-scoreboard">here :D</a></p>
            </center>
        </footer>
    </body>
</html>
